.container{
    height: 50px;
    font-size:18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.imgContainer{
    display: flex;
    align-items: center;
    gap: 10px
}
.icon{
    cursor: pointer;
}